streamlit
pandas
numpy
matplotlib
seaborn
plotly
numpy
torch
git+https://github.com/facebookresearch/segment-anything.git
opencv-python-headless
pillow
scipy
scikit-learn
fpdf
Pillow
geopandas
folium
holoviews
bokeh
datashader
geoviews
cartopy
panel
dash
openpyxl
pygwalker
ipython
xlsxwriter
streamlit-shadcn-ui
statsmodels
panel
streamlit-option-menu  
altair
factor_analyzer
PyWavelets
